@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;

@{var i = 0; }

<div class="text-md-right small @Model.CssClass">
    <nav>
        @foreach (var node in Model.Nodes)
        {
            i++;
<a class="text-dark @GetClass(node)" href="@node.Url" target="@node.LinkTarget">@((i > 1) ? "-" + node.Title : node.Title)</a>}
    </nav>
</div>

@helper GetClass(NodeViewModel node)
{if (node.IsCurrentlyOpened)
                    {
    @Html.HtmlSanitize("active");
}
else if (node.HasChildOpen)
{
@Html.HtmlSanitize("active");
}
}
